<h3 class="header">Melissa Wu</h3>
<div class="no-break">
    <a class="header" href="./">Home</a> •
    <a class="header" href="./education">Education</a> •
    <a class="header" href="./experience">Experience</a> •
    <a class="header" href="./projects">Projects</a> •
    <a class="header" href="./activities">Activities</a>
</div>
<br><br>
<div class="row">
    <div class="divider col s10 push-s1"></div>
</div>
